p {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  width: 80%;
  align-self: center;
}

.heading-text {
  font-size: 1.8rem;
  background-color: tomato;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.align-right {
  display: flex;
  justify-content: flex-end;

}

.flex-10 {
  flex: 10;
  margin: 1rem;
}

.flex-80 {
  flex: 80;
  display: flex;
  justify-content: center;
}

.flex-80 p {
  display: inline-block;
}

.board {
  display: flex;
  width: 80%;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
}

.block {
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  background: #efefef;
  text-align: center;
  margin: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}



    .button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    box-sizing: border-box;
    position: absolute;
    width: 184px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 200px;
    }

.delete-btn {
  background: #f80000;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.delete-btn:hover {
  background: #ff4f4f;
}

.delete-btn img {
  height: 20px;
}

.edit-btn {
  background: #f8cf00;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.edit-btn:hover {
  background: #dcb800;
}

.edit-btn img {
  height: 20px;
}

.to-in-progress {
  background: #00b665;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.to-in-progress:hover {
  background: #009955;
}

.to-in-progress img {
  height: 20px;
}

.to-to-do {
  background: #0056b6;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
  margin-right: 4px;
  cursor: pointer;
}
.to-to-do:hover {
  background: #0062d0;
}

.to-to-do img {
  height: 20px;
}

.to-done {
  background: #9800b6;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.to-done:hover {
  background: #a700c8;
}

.to-done img {
  height: 20px;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #dddddd;
  border-radius: 5px;
  background: white;
  padding: 5px;
  margin: 10px 5px;

  min-height: 100px;
  box-shadow: 0px 3px 20px -1px rgba(0, 0, 0, 0.3);
}

.task.editing {
  border: 2px dashed #c80000;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.name {
  text-align: left;
  padding: 5px;
}

#toggle-theme {
  background-image: url("./images/moon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 60px;
  border: none;
  cursor: pointer;
}

body.night {
  background: #222232;
  color: #d4d4d4;
}

.night .heading-text {
  background-color: #30323c;
  color: #898989;
}

.night .block {
  background-color: #343242;
}

.night #create-task-button {
  color: #fdfdfd;
  background: #577ea7;
}

.night .task {
  background: #4e4b5b;
  border-color: #615f6a;
}

.night .delete-btn {
  background: #865858;
}

.night .delete-btn:hover {
  background: #9b6666;
}

.night .edit-btn {
  background: #a29c7d;
}

.night .edit-btn:hover {
  background: #bfb893;
}

.night .to-in-progress {
  background: #5a947a;
}

.night .to-in-progress:hover {
  background: #61a184;
}

.night .to-to-do {
  background: #6284aa;
}

.night .to-to-do:hover {
  background: #6a90ba;
}

.night .to-done {
  background: #8a5694;
}

.night .to-done:hover {
  background: #995fa4;
}

.night #toggle-theme {
  background-image: url("./images/sun.svg");
}

.animation-in {
  animation: appear-animation 300ms ease;
}

.animation-out {
  animation:disappear-animation 300ms ease;
  animation-fill-mode: forwards;
}

@keyframes appear-animation {
  0% {
    transform: rotateX(90deg)
  }

  100% {
    transform: rotateX(0deg)
  }
}

@keyframes disappear-animation {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(90deg);
    display: none;
  }
}

.button-block {
  display: flex;
  margin: 10px 5px;
}

.input-field {
  margin: 0;
  width: 100%;
  display: flex;
  position: relative;
}

#create-task-button {
  background: #007fff;
  color: white;
  border: 0;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#create-task-button:hover {
  background: #4ba5ff;
}

#create-task-button img {
  height: 20px;
}

#create-task-input{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2) inset;
}

#voice-input-button{
  border: none;
  padding: 10px;
  cursor: pointer;
  background: url('./images/microphone.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 7px;
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
}

#voice-input-button.active {
  background: url('./images/microphone-active.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 7px;
}

#voice-input-button img {
  height: 27px;
}
